{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Page - {{ website.domain }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">Create New Page</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            
            {{ form.media }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Create Page</button>
                <a href="{% url 'manage_pages' website.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 